@model ZLServerDashboard.Models.ViewDto.PowerDto
@{
    ViewData["Title"] = "视频采集";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">


            <div class="layui-form-item">
                <div class="layui-inline layui-col-md11">
                    <label class="layui-form-label">关键词:</label>
                    <div class="layui-input-block">
                        <input type="text" name="txt_keyword" id="txt_keyword" placeholder="请输入查询关键词" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal" data-type="reload" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>



        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">

                @if (Model.Add)
                {
                    <button class="layui-btn" data-type="add" onclick="addData()">添加</button>
                }
                @if (Model.Edit)
                {
                    <button class="layui-btn layui-btn-normal" data-type="edit" onclick="editData()">编辑</button>
                }
                @if (Model.Delete)
                {
                    <button class="layui-btn layui-btn-danger" data-type="batchdel" onclick="deleteData()">删除</button>
                }
                  @if (Model.RolePower)
                {
                    <button class="layui-btn  layui-btn-primary" data-type="batchdel" onclick="viewData()">详情</button>
                }
            </div>
            <table class="layui-hide" id="menuList" lay-filter="menuList"></table>
        </div>
    </div>
</div>

<script>
    var menuId = '';
    var menuName='';
    layui.use('table', function () {
        var form = layui.form;
        var table = layui.table;
        table.render({
            elem: '#menuList'
            , url: '/StreamProxy/Index/'
            , method: 'post'
            , autoSort: false
            ,cellMinWidth: 75
            , cols: [[
                { type: 'checkbox' }
                , { field: 'Id', title: 'ID', hide: true,width:0  }
                , { field: 'DomainName', title: '域名', sort: false,width:110 }
                , { field: 'ApplicationName', title: '应用', sort: false ,width:80}
                , { field: 'StreamName', title: '流Id', sort: true ,width:110}
                , { field: 'Name', title: '名称', sort: true ,width:220}
                , { field: 'State', title: '状态', sort: true, templet: '#statusTemp',width:75 }
                , { field: 'EnableRtsp', title: '转rtsp', sort: true ,templet: '#EnableRtspTemp',width:90}
                , { field: 'EnableRtmp', title: '转rtmp', sort: true,templet: '#EnableRtmpTemp',width:90 }
                , { field: 'EnableHls', title: '转hls', sort: true ,templet: '#EnableHlsTemp',width:90}
                , { field: 'EnableMp4', title: '录制mp4', sort: true ,templet: '#EnableMp4Temp',width:110}
                , { field: 'RtpType', title: '拉流类型',templet: '#RtpTypeTemp', sort: true,width:110 }
                , { field: 'SourceUrl', title: '拉流地址', sort: true,width:140 }
                , { field: 'Remark', title: '备注', sort: true ,width:180 }
                , { field: 'CreateByName', title: '创建人',width:90}
                , { field: 'CreateTs', title: '创建时间', sort: true ,width:165}
                , { field: 'UpdateByName', title: '更新人',width:90}
                , { field: 'UpdateTs', title: '更新时间', sort: true ,width:165}
            ]]
            , where: { keyword: $('#txt_keyword').val() }
            , page: true
        });

        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function (data) {
            //执行重载
            table.reload('menuList', {
                where: { keyword: $('#txt_keyword').val() }
            });
        });


        table.on('row(menuList)', function (obj) {
            var data = obj.data;
            $(obj.tr).siblings().css("background-color", "");
            obj.tr.css("background-color", "#a3cf62");
            menuId = data.Id;
            menuName = data.Name;
        });

        table.on('rowDouble(menuList)', function (obj) {
            var data = obj.data;
            $(obj.tr).siblings().css("background-color", "");
            obj.tr.css("background-color", "#a3cf62");
            menuId = data.Id;
            menuName = data.Name;
            //viewData();
            dialogView();

        });

        table.on('sort(menuList)', function (obj) { //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            //console.log(obj.field); //当前排序的字段名
            //console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
            //console.log(this); //当前排序的 th 对象
            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('menuList', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                    , keyword: $('#txt_keyword').val()
                }
            });
        });

    });

function viewData()
{
  if(isEmpty(menuId))
    return;
    
     layer.open({
            type: 2
            , title: menuName
            , closeBtn: false
            , shade: 0.8
            , area: ['100%', '100%']
            , id: 'addMenu' //设定一个id，防止重复弹出
            , btnAlign: 'c'
            , closeBtn: 1
            , moveType: 1 //拖拽模式，0或者1
            , content: ['/StreamProxy/ViewDetail?id='+menuId, 'no']
            , shadeClose: false //点击遮罩区域是否关闭页面

        });
}


    function addData() {
        layer.open({
            type: 2
            , title: '添加视频源'
            , closeBtn: false
            , shade: 0.8
            , area: ['60%', '90%']
            , id: 'addMenu' //设定一个id，防止重复弹出
            , btnAlign: 'c'
            , closeBtn: 1
            , moveType: 1 //拖拽模式，0或者1
            , content: ['/StreamProxy/Add', 'no']
            , shadeClose: false //点击遮罩区域是否关闭页面

        });
    }

    function reload() {
        var table = layui.table;
        table.reload('menuList', {
            where: { keyword: $('#txt_keyword').val() }
        });
    }

    function editData() {
        //var table = layui.table;
        //var checkStatus = table.checkStatus('menuList');
        if (isEmpty(menuId)) {
            layer.msg('请选择一行再编辑!', { icon: 3 });
        }
        else {
            layer.open({
                type: 2
                , title: '编辑视频源'
                , closeBtn: false
                , shade: 0.8
                , area: ['60%', '90%']
                , id: 'editMenu' //设定一个id，防止重复弹出
                , btnAlign: 'c'
                , closeBtn: 1
                , moveType: 1 //拖拽模式，0或者1
                , content: ['/StreamProxy/Edit?id=' + menuId, 'no']
                , shadeClose: false //点击遮罩区域是否关闭页面

            });
        }

    }

    function deleteData() {
        var table = layui.table;
        var checkStatus = table.checkStatus('menuList');
        if (checkStatus.data.length == 0) {
            layer.msg('请至少选择一行!', { icon: 3 });
        }
        else {
            var ids = new Array();
            for (var i = 0; i < checkStatus.data.length; i++) {
                ids[i] = checkStatus.data[i].Id;
            }
            var index = layer.confirm('确定要删除' + ids.length + "条视频源吗?", {
                icon: 3, title: '警告', btn: ['确定', '取消']
            }
                , function () {
                    var tip = layer.msg('删除中....', { icon: 16, shade: 0.3, time: 0 });
                    $.post("/StreamProxy/Delete", { ids: ids }, function (result) {
                        layer.close(tip);
                        if (result.Flag) {
                            reload();
                            layer.msg('删除成功', { icon: 6 }, function () {
                                layer.close(index); //再执行关闭
                            });
                        }
                        else {
                            layer.msg(result.Msg, { icon: 5 }, function () {
                                layer.close(index);
                            });
                        }
                    }, "json");

                }, function () {
                    layer.close(index);
                });

        }
    }


    function dialogView()
    {
        

    var that = this; 
      //多窗口模式，层叠置顶
      this.parent.layer.open({
        type: 2 //此处以iframe举例
        ,title: menuName
        ,area: ['400px', '400px']
        ,shade: 0
         ,id: 'view_'+menuId
        ,maxmin: true
        ,offset: [ //为了演示，随机坐标
          Math.random()*($(window).height()-300)
          ,Math.random()*($(window).width()-390)
        ] 
        ,content: '/StreamProxy/DialogView?id='+menuId
        ,zIndex: layer.zIndex //重点1
      });
    }


    var layer;
layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery;
   layer = layui.layer; //独立版的layer无需执行这一句
});
</script>


<script type="text/html" id="statusTemp">
    {{#  if(d.State==200){ }}
    <font color="green">正常</font>
    {{#  } else if(d.State==500) { }}
    <font color="red">停用</font>
    {{#  } else if(d.State==400) {  }}
    <font color="red">删除</font>
    {{#  } }}
</script>

<script type="text/html" id="RtpTypeTemp">
    {{#  if(d.RtpType==0){ }}
    <font >TCP</font>
    {{#  } else if(d.RtpType==1) { }}
    <font >UDP</font>
    {{#  } else if(d.RtpType==2) {  }}
    <font >组播</font>
    {{#  } }}
</script>


<script type="text/html" id="EnableRtspTemp">
    {{#  if(d.EnableRtsp){ }}
    <font color="green">是</font>
    {{#  } else  { }}
    <font color="orange">否</font>
    {{#  } }}
</script>

<script type="text/html" id="EnableRtmpTemp">
    {{#  if(d.EnableRtmp){ }}
    <font color="green">是</font>
    {{#  } else  { }}
    <font color="orange">否</font>
    {{#  } }}
</script>

<script type="text/html" id="EnableHlsTemp">
    {{#  if(d.EnableHls){ }}
    <font color="green">是</font>
    {{#  } else  { }}
    <font color="orange">否</font>
    {{#  } }}
</script>

<script type="text/html" id="EnableMp4Temp">
    {{#  if(d.EnableMp4){ }}
    <font color="green">是</font>
    {{#  } else  { }}
    <font color="orange">否</font>
    {{#  } }}
</script>